name: Pylint Code Scanning on Pull Request

on:
  pull_request:

jobs:
  pylint:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run pylint code scanning
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint

